{% extends 'AppBundle::base.html.twig' %}

{% block title %}Study Mode{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8">
      <h1 class="page-header text-center">
        Gremlyn's BJCP Study Aid<br />
        <small>Study Mode</small>
      </h1>

      <div class="panel panel-default">
        <div class="panel-heading">
          <button class="btn btn-default pull-right card-nav-btn card-refresh" title="Random">
            <span class="glyphicon glyphicon-random"></span>
          </button>
          <!-- Desktop/Tablet Buttons Start-->
          <a href="{{ path('study') }}?l={{ subcategory.next }}&{{ query }}"
             class="btn btn-default pull-right card-nav-btn" title="Next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
          <a href="{{ path('study') }}?l={{ subcategory.prev }}&{{ query }}"
             class="btn btn-default pull-right card-nav-btn" title="Next">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <!-- Desktop/Tablet Buttons End-->
          <div class="show-header">
            <h3>{{ subcategory.subcategory.id }} - {{ subcategory.subcategory.name }} <small><span class="glyphicon glyphicon-triangle-bottom"></span></small></h3>
          </div>
          <div class="show-select hidden">
            <select class="form-control">
              {% for cat_idx, category in categories %}
                <optgroup label="{{ category.id }} - {{ category.name }}">
                  {% for subcat_idx, subcat in category.subcategories %}
                    <option value="{{ cat_idx }}cs{{ subcat_idx }}" {% if subcat.id == subcategory.subcategory.id %}selected{% endif %}>{{ subcat.id }} - {{ subcat.name }}</option>
                  {% endfor %}
                </optgroup>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="panel-body">
          <p><strong>Impression:</strong> {{ subcategory.subcategory.impression }}</p>
          <p><strong>Aroma:</strong> {{ subcategory.subcategory.aroma }}</p>
          <p><strong>Appearance:</strong> {{ subcategory.subcategory.appearance }}</p>
          <p><strong>Flavor:</strong> {{ subcategory.subcategory.flavor }}</p>
          <p><strong>Mouthfeel:</strong> {{ subcategory.subcategory.mouthfeel }}</p>
          <p><strong>Comments:</strong> {{ subcategory.subcategory.comments }}</p>
          <p><strong>History:</strong> {{ subcategory.subcategory.history }}</p>
          <p><strong>Ingredients:</strong> {{ subcategory.subcategory.ingredients }}</p>
          <p><strong>Comparison:</strong> {{ subcategory.subcategory.comparison }}</p>
          {% if subcategory.subcategory.stats.og is defined %}
            <strong>Stats:</strong>
            <table class="table table-striped">
              <tbody>
              <tr>
                <td>OG:</td>
                <td>{{ subcategory.subcategory.stats.og.low }} - {{ subcategory.subcategory.stats.og.high }}</td>
              </tr>
              <tr>
                <td>FG:</td>
                <td>{{ subcategory.subcategory.stats.fg.low }} - {{ subcategory.subcategory.stats.fg.high }}</td>
              </tr>
              <tr>
                <td>IBU:</td>
                <td>{{ subcategory.subcategory.stats.ibu.low }} - {{ subcategory.subcategory.stats.ibu.high }}</td>
              </tr>
              <tr>
                <td>SRM:</td>
                <td>{{ subcategory.subcategory.stats.srm.low }} - {{ subcategory.subcategory.stats.srm.high }}</td>
              </tr>
              <tr>
                <td>ABV:</td>
                <td>{{ subcategory.subcategory.stats.abv.low }} - {{ subcategory.subcategory.stats.abv.high }}</td>
              </tr>
            </table>
          {% elseif subcategory.subcategory.stats.exceptions is defined %}
            <p><strong>Stats:</strong> {{ subcategory.subcategory.stats.exceptions }}</p>
          {% endif %}
          {% if subcategory.subcategory.examples is iterable %}
            <p>
              <strong>Examples:</strong> {{ subcategory.subcategory.examples|mutlidimensional_join(': ', ', ', '<br />')|raw }}
            </p>
          {% else %}
            <p><strong>Examples:</strong> {{ subcategory.subcategory.examples }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}